import sys, os
INTERP = "/home/dh_12345/btsdev.example.com/venv/bin/python3"
#INTERP is present twice so that the new python interpreter 
#knows the actual executable path 
if sys.executable != INTERP: os.execl(INTERP, INTERP, *sys.argv)

cwd = os.getcwd()
sys.path.append(cwd)
sys.path.append(cwd + '/Bauteilsortiment')  #You must add your project here

sys.path.insert(0,cwd+'/venv/bin')
sys.path.insert(0,cwd+'/venv/lib/python3.11.5/site-packages')
sys.path.insert(0,cwd+'/venv/lib/python3.11/site-packages')

os.environ['DJANGO_SETTINGS_MODULE'] = "bauteilsortiment.settings"
from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()
