<html>
{% load static %}

<head>
    <title>Component: {{ component }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>


<body>
    <h1>Detail page for {{ component }}</h1>
    <p id="breadcrumbs"><a href="{% url 'components' %}">components</a> / {{ component.part_number }}</p>
    <p>
        <table id="component" class="maintable">
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            {% for name, value in fields %}
            <tr>
                <td>{{ name }}</td>
                <td>
                    {% if name == "primary_datasheet" %}
                    <a href="{{ component.primary_datasheet }}">{{ value }}</a> {% elif name == "cache_expiry" %} {{ value }} <a href="{% url 'component_update_cache' component.id %}?force">force update cache</a> {% else %} {{ value }} {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </p>
</body>

</html>