<!DOCTYPE html>
<html>
{% load static %}
{% load view_extras %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <h1>{% block page_title %}{% endblock %}</h1>
{% block body %}
{% endblock %}
</body>
</html>
