{% extends "bts/base.html" %}
{% load static %}
{% load view_extras %}
{% block title %}Select test{% endblock %}
{% block page_title %}Select test{% endblock %}
{% block body %}
<script>
    let fields = [
                {
                    'id': '.select-assortment-box',
                    'model': 'AssortmentBox',
                    'display_field': 'name',
                },
                {
                    'id': '.select-storage-unit',
                    'model': 'StorageUnit',
                    'display_field': 'number'
                },
                {
                    'id': '.select-storage-unit-compartment',
                    'model': 'StorageUnitCompartment',
                    'display_field': 'name'
                }
        ]


/*
    let fields = [
    {
        'id': '.select-assortment-box',
        'model': 'Merchant',
        'display_field': 'name',
    },
    {
        'id': '.select-storage-unit',
        'model': 'Component',
        'display_field': 'part_number'
    }
    ]

*/

    $(document).ready(function() {
        for (i=0; i <fields.length; i++) {
            $(fields[i]['id']).select2();
        }

        function clear_select(select_id) {
            console.warn(`clear_select(${select_id})`);
            $(fields[select_id]['id']).empty();
        }

        function fill_select(select_id){
            select = $(fields[select_id]['id']);
            model = fields[select_id]['model'];
            display_field = fields[select_id]['display_field'];
            filter_model = select_id > 0 ? fields[select_id-1]['model'] : null;
            id = select_id > 0 ? $(fields[select_id-1]['id']).val() : null;

            console.warn(`fill_select(select_id=${select_id}); // select=${select}, model=${model}, display_field=${display_field}, filter_model=${filter_model}, id=${id})`);
            if (filter_model != null){
                url = '/bts/json/' + model + '/' + filter_model + '/' + id;
            } else {
                url = '/bts/json/' + model;
            }
            $.getJSON(url, function(data){
                $.each(data, function() {
                    console.warn(`Add option ${this.id}('${this[display_field]}')`);
                    select.append($("<option />").val(this.id).text(this[display_field]));
                });
            }).done(function(json){
                console.warn("Done getting JSON");
                log_list_value(select_id, `done`);
                handle_change(select_id);
            });            
        }

        function handle_change(select_id) {
            console.warn(`Handling change event for select_id=${select_id} (value=${$(fields[select_id]['id']).val()})`);
            
            select_number = select_id + 1;
            for (i=select_number; i < fields.length; i++) {
                console.warn(`Emptying select ${fields[i]['id']}`);
                clear_select(i);
            }
            if (select_number < fields.length) {
                console.warn(`Fill select ${select_number}`);
                fill_select(select_number);
            }
        }

        for (i = 0; i < fields.length - 1; i++) {
            const j = i;
            $(fields[j]['id']).change(function() {
                handle_change(j);
            });
        }

        console.warn("Filling first select...");
        fill_select(0);
    });

    function log_list_value(id, text="foo") {
        console.warn(`${text}: Value of list ${id} is ${$(fields[0]['id']).val()}`);
    }
</script>
<form on_submit="return false;">
    <formfields>
        <select class="select-assortment-box" name="state" style="width: 400px;" data-id="0">
        </select>
        <select class="select-storage-unit" name="state" style="width: 400px;">
        </select>
        <select class="select-storage-unit-compartment" name="state" style="width: 400px;">
        </select>
</formfields>
</form>

{% endblock %}
