{% extends "bts/base.html" %}
{% load static %}
{% load view_extras %}
{% block title %}Select test{% endblock %}
{% block page_title %}Select test{% endblock %}
{% block body %}
<script>
    const fields = [
                {
                    'id': '.select-assortment-box',
                    'model': 'AssortmentBox',
                    'display_field': 'name',
                },
                {
                    'id': '.select-storage-unit',
                    'model': 'StorageUnit',
                    'display_field': 'number',
                    'parent_field': 'assortment_box_id'
                },
                {
                    'id': '.select-storage-unit-compartment',
                    'model': 'StorageUnitCompartment',
                    'display_field': 'name',
                    'parent_field': 'storage_unit_id'
                }
        ]


/*
    let fields = [
    {
        'id': '.select-assortment-box',
        'model': 'Merchant',
        'display_field': 'name',
    },
    {
        'id': '.select-storage-unit',
        'model': 'Component',
        'display_field': 'part_number'
    }
    ]

*/

    $(document).ready(function() {
        for (i=0; i <fields.length; i++) {
            $(fields[i]['id']).select2();
        }


        for (i = 0; i < fields.length - 1; i++) {
            const j = i;
            $(fields[j]['id']).change(function() {
                handle_change(j);
            });
        }

        fill_select(0);
    });

    function clear_select(select_id) {
        console.warn(`clear_select(${select_id})`);
        $(fields[select_id]['id']).empty();
    }


    function handle_change(select_id) {
        console.warn(`Handling change event for select_id=${select_id} (value=${$(fields[select_id]['id']).val()})`);
        
        select_number = select_id + 1;
        for (i=select_number; i < fields.length; i++) {
            console.warn(`Emptying select ${fields[i]['id']}`);
            clear_select(i);
        }
        if (select_number < fields.length) {
            console.warn(`Fill select ${select_number}`);
            fill_select(select_number);
        }
    }

    function fill_select(select_id){
        clear_select(select_id);
        select = $(fields[select_id]['id']);
        model = fields[select_id]['model'];
        display_field = fields[select_id]['display_field'];
        filter_model = select_id > 0 ? fields[select_id - 1]['model'] : null;
        id = select_id > 0 ? $(fields[select_id-1]['id']).val() : null;

        console.warn(`fill_select(select_id=${select_id}); // select=${select}, model=${model}, display_field=${display_field}, filter_model=${filter_model}, id=${id})`);
        if (filter_model != null){
            url = '/bts/json/' + model + '/' + filter_model + '/' + id;
        } else {
            url = '/bts/json/' + model;
        }
        console.warn(`URL=${url}`);
        
        $.ajax({
            url: url,
            dataType: 'json',
            async: false,
            success: function(data) {
                let count = 0;
                $.each(data, function() {
                    console.warn(`###COUNT=${count++}`);
                    console.warn(`Appending option ${this[display_field]} to select {select_id}`);
                    select.append($("<option />").val(this.id).text(this[display_field]));
                    console.warn("Done getting JSON");
                    log_list_value(select_id, `done`);
                });
            }
        });
        handle_change(select_id);
    }


    function log_list_value(id, text="foo") {
        console.warn(`${text}: Value of list ${id} is ${$(fields[0]['id']).val()}`);
    }

    function set_field(field_id, value) {
        let selected_objects = [];
        selected_objects[field_id] = value;
        
        for(i=field_id; i > 0; i--) {
            $.ajax({
                url: `/bts/json/${fields[i]['model']}/${selected_objects[i]}/field/${fields[i]['parent_field']}`,
                dataType: 'json',
                async: false,
                success: function(data) {
                    selected_objects[i - 1] = data;    
                }
            });
        }
        
        for(k=0; k < field_id; k++) {
            console.error(`>>>k=${k}`);
            fill_select(k);
            $(fields[k]['id']).val(selected_objects[k]).change();
        }

/*
                for(i = 0; i < field_id; i++) {
                    console.warn(`####setting select ${i} to value ${selected_objects[i]}`);
                    fill_select(i);
                    
                }
*/
        console.warn(`## selected_objects=${selected_objects}`);
    } 

//        selected_suc = value;
//        selected_su = null;
//        selected_ab = null;
//
//        suc = get_suc();
//        su = get_su();
//        ab = get_all_ab();
//        
//        fill_select(ab, filter_id=null, selected_id=selected_ab);
//        fill_select(su, filter_id=selected_ab, selected_id=selected_su);
//        fill_select(suc, filter_id=selected_su, selected_id=selected_suc);
    
</script>
<form on_submit="return false;">
    <formfields>
        <select class="select-assortment-box" name="state" style="width: 400px;" data-id="0">
        </select>
        <select class="select-storage-unit" name="state" style="width: 400px;">
        </select>
        <select class="select-storage-unit-compartment" name="state" style="width: 400px;">
        </select>
        <button type="button" onclick="set_field(2, 12);">Click me!</button>
</formfields>
</form>

{% endblock %}
