body {
    font-family: 'Arial Narrow', Tahoma, Arial, sans-serif;
    margin-top: 0 !important;
    padding-top: 0 !important;
}


@page {
    margin-top: 10px !important;
}

img {
    max-width: 90%;
    max-height: 90%;
    aspect-ratio: 1 / 1;
    /* background-color: red; */
}

div.grid {
    break-inside: avoid;
    /* background-color: blue; */
    float: left;
    display: grid;
    grid-template-columns: calc(var(--label-width) * 0.25) calc(var(--label-width) * 0.75);
    grid-template-rows: repeat(var(--label-rows), calc(var(--label-height) / var(--label-rows)));
    border: 1px solid black;
}

div.grid_qr {
    grid-row: 1 / calc(var(--label-rows) + 1);
    font-size: calc(var(--label-height) * 0.05);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    word-wrap: normal;
    /* background-color: yellow; */
}

div.grid>div {
    white-space: break-spaces;
    overflow: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

div.grid_text_whole {
    grid-row: 1 / span var(--label-rows);
    font-size: calc(var(--label-height) / var(--lines-per-row) / 2 * 0.9);
    /* multiply by 0.9 to keep some slack */
    /*font-size: calc(var(--label-height) / var(--lines-per-row) / 4 * 0.9);*/

    grid-column-start: 2;
    white-space: break-spaces;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-height: 100%;
    /* background-color: orangered; */
}

div.grid>div.grid_text:nth-of-type(2) {
    overflow: hidden;
    grid-column-start: 2;
    grid-row: 1;
    font-size: calc(var(--label-height) / var(--lines-per-row) / 2 * 0.9);
    /* background-color: green; */
    border-bottom: 1px solid black;
}

div.grid>div.grid_text:nth-of-type(3) {
    grid-column-start: 2;
    grid-row: 2;
    font-size: calc(var(--label-height) / var(--lines-per-row) / 2 * 0.9);
    /* background-color: magenta; */
}

div.grid>div.grid_text:nth-of-type(4) {
    grid-column-start: 2;
    grid-row: 2;
    font-size: calc(var(--label-height) / var(--lines-per-row) / 2 * 0.9);
    /* background-color: magenta; */
}

div.grid>div.grid_text:nth-of-type(5) {
    grid-column-start: 2;
    grid-row: 2;
    font-size: calc(var(--label-height) / var(--lines-per-row) / 2 * 0.9);
    /* background-color: magenta; */
}

div.grid>div.grid_text:nth-of-type(6) {
    grid-column-start: 2;
    grid-row: 2;
    font-size: calc(var(--label-height) / var(--lines-per-row) / 2 * 0.9);
    /* background-color: magenta; */
}

div.grid>div.grid_text:nth-of-type(7) {
    grid-column-start: 2;
    grid-row: 2;
    font-size: calc(var(--label-height) / var(--lines-per-row) / 2 * 0.9);
    /* background-color: magenta; */
}


div.grid:after {
    content: '';
    display: table;
    clear: both;
}

/******************/

/*
.grid_text_whole::after {
    height: 16px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 1;
    background: linear-gradient(transparent, orangered 75%);
    /* outline: 1px solid white; * /
}
*/

.grid_text_whole {
    position: relative;
}


div.grid>div.grid_text_whole {
    align-items: flex-start;
}

div.grid>div.grid_text_whole:hover {
    position: absolute;
    max-height: none;
}

.grid_text_whole:hover::after {
    display: none;
}

.grid {
    position: relative;
}

.grid {
    height: var(--label-height);
}
