<html>
{% load static %}
{% load view_extras %}

<head>
    <title>{% get_verbose_name object %}: {{ object }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>


<body>
    <h1>Detail page for {% get_verbose_name object %}: {{ object }}</h1>
    <p id="breadcrumbs"><a href="{% url object|get_type|add:"_list"|snake_case %}">{% get_verbose_name object %}s</a> / {{ object }}</p>
    <p>
        <table id="object" class="maintable">
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            {% for field in fields %}
            <tr>
                <td>{{ field.verbose_name }}</td>
                <td>
                    {% is_url_field field as is_url_field %}
                    {% is_foreign_key_field field as is_foreign_key_field %}
                    {% if is_url_field %}
                    <a href="{{ object|hash:field.name }}">{{ object|hash:field.name }}</a>
                    {% elif is_foreign_key_field %}
                        {% cat field.name "_id" as id_column %}
                        {% if object|hash:id_column is not None %}
                            {% get_detail_name field "" as detail_name %}
                            <a href="{% url detail_name|snake_case|add:"_detail" object|hash:id_column %}">{{ object|hash:field.name }}</a>
                        {% else %}
                                {{ object|hash:id_column }}
                        {% endif %}
                    {% else %}
                        {{ object|hash:field.name }}
                    {% endif %}                    
                </td>
            </tr>
            {% endfor %}
        </table>
    </p>
</body>

</html>